* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #b8b8c4;
    font-family: sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 2.5rem 0;
    width: 100%;
    gap: 2rem;
}

/*Acá arranca el login*/
.form-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    gap: 1rem; /*HACER RESPONSIVE, mobile = 1rem, grande=2rem*/
    width: min(80%, 25rem, 38rem);
    height: auto;
    border-radius: 2rem;
    background-color: #dbe7ff;
}

fieldset {
    border: none;
}

/*Lo que sería el "header" del form*/
.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

.logo img {
    min-inline-size: 110px;
    max-inline-size: 36%;
    height: auto;
}

.logo h2 {
    box-sizing: border-box;
    text-align: center;
    font-size: clamp(1rem, 1.5vw, 1.6rem);
}

/*Lo que sería el "body" del form*/
.campo {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.campo label {
    font-size: clamp(0.9rem, 1.4vw, 1.5rem);
    margin-bottom: 0.3rem;
    margin-left: 5%;
}

.campo input {
    padding: 0 5%;
    width: 100%;
    font-size: clamp(0.85rem, 1.3vw, 1.5rem);
    height: min(5.3vh, 3.5rem);
    border-radius: 1.8rem;
    border: 0.1rem solid gray;
}

/*------La chechbox------*/
.campo.campo-checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    width: 90%;
}

.campo.campo-checkbox label {
    margin: 0;
    font-size: 1rem;
}

.campo input[type="checkbox"] {
    appearance: none;
    padding: 0;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 0.3rem;
    border: 0.1rem solid gray;
    flex-shrink: 0;
    cursor: pointer;
}

.campo input[type="checkbox"]:checked {
    background-color: #60b8af;
    border-color: #60b8af;
}

.boton-login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: min(5.3vh, 3.5rem);
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    color: #000000;
    background-color: #fcd994;
    border-radius: 2rem;
    border: 0.1rem solid gray;
    box-sizing: border-box;
    cursor: pointer;
}

/*El olvidado del login*/
.olvidado {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: none;
    width: 100%;
    gap: 1.5rem;
}

.olvidado img {
    min-inline-size: 80px;
    max-inline-size: 10%;
    height: auto;
}

.olvidado a {
    display: flex;
    flex-direction: column;
    padding: 0.4rem 1rem;
    text-align: center;
    text-decoration: none;
    background-color: #e0e0e0;
    color: rgb(247, 250, 253);
    border-radius: 0.2rem;
    border: 0.1rem solid gray;
    box-sizing: border-box;
    cursor: pointer;
    box-sizing: border-box;
    text-align: center;
    font-size: clamp(0.79rem, 1vw, 2rem);
}

.olvidado a:first-child {
    color: #000000;
    background-color: #60b8af;
}

.olvidado a:last-child {
    background-color: #60b8af;
}

.olvidado a:hover {
    color: #fff;
    background-color: #509992;
}

/*-------------ACÁ ARRANCA EL REGISTRO-------*/
.imagen-3 {
    width: 12rem;
    height: auto;
}

.header-registro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 100%;
}

.contenedor-registro {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 40rem;
    margin: 3rem auto 0;
    gap: 1rem;
}

/*-------------ACÁ ARRANCA OLVIDASTE_CONTRA-------*/

.logo h2 {
    box-sizing: border-box;
    text-align: center;
    font-size: clamp(1rem, 1.5vw, 1.6rem);
}

.logo h3 {
    box-sizing: border-box;
    text-align: center;
    font-weight: normal;
    font-size: clamp(0.85rem, 1.2vw, 1.2rem);
}

.campo p {
    box-sizing: border-box;
    text-align: left;
    font-weight: normal;
    font-size: clamp(0.6rem, 1vw, 1.2rem);
    margin-bottom: 0.3rem;
    margin-top: 3%;
}

/*-------------ACÁ COD_RECUPERACION-------*/
.grupo-inputs-codigo {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 0.8rem;
}

.grupo-inputs-codigo input {
    width: 2.5rem;
    height: 3rem;
    text-align: center;
    font-size: 1.2rem;
    box-sizing: border-box;
    border: 0.1rem solid gray;
}
